In [ ]:
introduction to numbers:

In [1]:
number = 123
print(number)

123

In [2]:
type(number)

int

In [3]:
num2 = 0.1
print(num2)

0.1

In [4]:
type(num2)

float

In [ ]:
introduction to list datatype:
def: a list is a collection of items defined in a particular order
classification: it is classified as mutable
how to define list datatype : [] #square brakets

In [5]:
students = ['arpita','ashwini','asma','bhuvan','david','kartik']    #[0,1,2,3,....]

In [6]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'kartik']

In [8]:
type(students)

list

In [ ]:
introduction to indexing: 0,1,2,3,4.....

In [ ]:
points to discuss:

In [ ]:
#req: if i want to access ashwini name in the output

In [9]:
print(students[1].title())

Ashwini

In [11]:
#i want to access bhuvans name:
print(students[3])

bhuvan

In [ ]:
how to add new elements in the list 

how to modify this elements in the list

how to delete elements in the list

In [12]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'kartik']

In [13]:
#req: i want to add shafi in the above list
students.append('shafi')

In [14]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'kartik', 'shafi']

In [15]:
#req: i want to add venkat in the above list
students.append('venkat')

In [16]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'kartik', 'shafi', 'venkat']

In [17]:
#i want to add kaleem at 2nd index pos
students.insert(2,'kaleem')

In [18]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'kartik', 'shafi', 'venkat']

In [ ]:
interview_question: what is the different between append and insert methods in  a list of datatypes....?

In [19]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'kartik', 'shafi', 'venkat']

In [21]:
#req: i want to modify arpita name to anand...
students[0] = 'anand'

In [22]:
print(students)

['anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'kartik', 'shafi', 'venkat']

In [23]:
#req: i want to delete ashwini name in the above list
del students[1]

In [24]:
print(students)

['anand', 'kaleem', 'asma', 'bhuvan', 'david', 'kartik', 'shafi', 'venkat']