In [ ]:
continuation with list datatype:

In [ ]:
organising the list datatype:

In [1]:
cars = ['bmw','tata','suzuki','audi','toyota','benz']

In [2]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [3]:
type(cars)

list

In [ ]:
#req: i want to organize the list in alphabetical order
there are 2 approaches :
1.temporary approach => sorted method => we will be able to get the original order defined.
2.permanent approach => sort method

In [5]:
print(sorted(cars))  #this is the original order

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [6]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [7]:
cars.sort()

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
interview q
what is the difference between sort and sorted method in a list datatype?

In [9]:
#i want to count the number of elements in the list
len(cars)

6

In [ ]:
# req: i want to print the list in the A-Z , Z-A

In [10]:
cars.reverse()

In [11]:
print(cars)

['toyota', 'tata', 'suzuki', 'bmw', 'benz', 'audi']

In [ ]:
introduction to slicing:

In [16]:
students = ['anika','arpita','bhushan','bhanu','chandra','cynthya','danish']

In [17]:
print(students)

['anika', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
#general syntax for slicing:
[start_value:stop_value:step_count]

In [ ]:
Note: stop is always exclusive, to include the stop value increment the index by +1.

In [18]:
# req: i want to include anika and arpita in the slice.
print(students[0:1])

['anika']

In [19]:
print(students[0:2])

['anika', 'arpita']

In [20]:
print(students[0:7:2])

['anika', 'bhushan', 'chandra', 'danish']

In [ ]:
introduction to tuple datatype:
defination : An immutable list is called as a tuple.
classification : It is classified as an immutable datatype
how to define the tuple datatype : ( )

In [21]:
dimensions = (20,50)

In [22]:
print(dimensions)

(20, 50)

In [23]:
type(dimensions)

tuple

In [24]:
print(dimensions[1])

50

In [ ]:
looping statements